/* heading navbar  font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap');
/* body  font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    
}

/* body{
     background-image: url(./images/bg-curvy-desktop.svg); 
     
} */ 
.navbar {
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-container {
    padding: 80px 90px 0px 90px;
    
}

.super-sub-main-cont{
    background-color: hsl(217, 28%, 15%);
   
}
.navbar-option {
    display: flex;
    list-style: none;
    color: white;
}

.navbar-option li a {
    color: white;
    text-decoration: none;
}

.noli {
    margin-left: 50px;
}

.photo-intro {
    margin: 100px auto;
    text-align: center;
}
.a-hover:hover{
    font-weight:550 ;
    text-decoration: underline;
    cursor: pointer;
}
.photo-intro-img {
    object-fit: cover;
    box-sizing: border-box;
}

.bg-curved {
    padding: 0;
    margin: 0;
}

.bg-curved-img {
    padding: 0;
    margin: 0;
    object-fit:fill;
    box-sizing: border-box;
    width: 100%;
    background-color: hsl(217, 28%, 15%);
   
}

.content-files {
    width: 50%;
    margin-left: 25%;
    position: absolute;
   
    margin-top: -540px;
    display: grid;
}

.center {
    text-align: center;
}

.content-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin-bottom: 0px auto 12px auto;
    line-height: 55px;
}

.content-para {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 25px;
    margin: 10px auto;
}

.btn-content {
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: medium;
    background-color: hsl(198, 60%, 50%);
    margin:  25px  auto;
    border: none;
}
.btn-content:hover{
    background-color: hsl(198, 84%, 71%);
}
.super-sub-main-contII{
    margin: 0;
    margin-top: -10px;
    padding: 10px;

    background-color: hsl(218deg 26% 13%);
   
    font-family: 'Raleway', sans-serif;
    
}
.icon-outer{
    padding: 0px 250px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icon-inner{
    width: 350px;
margin-bottom: 65px;
}
.II-img{
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center;
}
.para-icon{
font-size: 14px;
font-family: 'Open Sans', sans-serif;
}
.inner-contII-img center{
    box-sizing: border-box;
}
.II-img{
    width: 78px;
    height: 78px;
}

.outer-stay-cont{
    margin: 60px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.stay-img{
    display: flex;
    align-items: center;
    
}
.inner-stay-cont{
    width: 40%;
}

.marg-stay{
    margin: 0px 40px;
}
.underl{
    display:inline-block;
    border-bottom: 1px solid cyan;
}
.flyo-works{
    color: cyan;
    display: flex;
    align-items: center;
    
    
}
.inner-flyo-works{
    margin: 2px;
    margin-right: 4px;
    text-decoration: none;
    color: cyan;
}
.underl:hover{
    border-bottom: 1px solid white;
}
.flyo-works:hover,.img-arrow:hover,.inner-flyo-works:hover{
    color: white;
}
.founder-main{
    margin: 100px 150px;
   
}
.img-quotes{
    position: relative;
}
.team-name{
    width: 299px;
    margin: 0px;
    padding: 20px;
    border-radius: 7px;
    background-color: hsl(219, 30%, 18%)   ;
}
.founder-info-main-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.founder-detail{
    display: flex;
    align-items:center ;
}
.f-img{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.founder-img{
    padding: 5px;
}
.f-head{
    margin: 0px;
}
.f-para{
    margin: 0px;
    font-size:13px;
    margin-top: 5px;
    
}
.team-description{
    font-size: 14px;
    line-height: 19px;
}
.founder-info-Super-main-cont{
   margin-top: -20px;
   position: relative;
}
.main-cont-early-access-today-box{
    margin-top: 150px;
    position: relative;
}
.early-access-today-box{
    width: 60%;
    margin: 50px auto;
    padding: 20px 40px;
    background-color: hsl(217, 28%, 15%);
    border-radius: 12px;
    box-shadow: 2px 5px 7px rgb(7 12 19);
}
.early-access-today-upper{
    padding: 10px 5px;
    margin: 0px 20px;
    text-align: center;
}
.input-main-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btn-input-box{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: medium;
    background-color: hsl(198, 60%, 50%);
    border: none;
    outline: none;
}
.btn-input-box:hover{
    background-color: hsl(198, 84%, 71%);
}
.email-input{
    width: 400px;
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 50px;
    
    font-weight: 600;
    font-size: medium;
   
    border: none;
    outline: none;
}
.error{
    margin-top: -17px;
    margin-bottom: 10px;
    padding: 0px 20px;
    color: red;
    font-size: 15px;
    font-weight: 700;
}
.error-hidden{
    visibility: hidden;
}
.footer-main{
    
    background-color: hsl(216, 53%, 9%);
    margin-top: -225px;
    padding: 150px 100px 50px 100px;
    font-family: 'Open Sans', sans-serif;
} 
.footer-location{
    width: 350px;
    display: flex;
    margin-bottom: 5px;
}
.location-address{
    margin-left: 25px;
}
.loc-img{
    margin: 3px 1px 2px 0px;
}
.footer-lower-list{
    list-style: none;
    margin-bottom: 10px;
}
.footer-super-main-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.fa-l{
    text-decoration: none;
    color: white;
    margin: 0px 4px;
}
.fa-l:hover{
    color: cyan;
    
} 
/* phone */
